* {
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    font-family: 'Space Grotesk', sans-serif;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #4e54c8;
    color: #b73e3e;
    transition: background 0.5s ease-in-out; /* Smooth transition for background */
}


.container {
    
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 10px;
    font-size: 1em;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
}

button {
    background-color: #ff4b5c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #ff303e;
}

.reset-btn {
    margin-top: 10px;
    display: none;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
